
.swiper-slide {
  width: 33.33%; /* Adjust width to accommodate three slides */
}

.swiper-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
/* hero.css */

/* Define the default styles for the light theme */
body {
  background-color: #EBEEFF;
  color: #333;
}

/* Define the styles for the dark theme */
.dark body {
  background-color: #333;
  color: #40ACDE;
}

/* Define other styles for the light and dark themes */
.dark h1 {
  color: #fff;
}
.dark h4 {
  color: #000000;
}
.dark h2 {
  color: #40ACDE;
}
.dark p {
  color: #5b8194;
}
/* … */
.dark .h1 {
  color: #000000;
}
.dark h6 {
  color: #d1d1d1;
}

@media screen and (max-width: 640px) {
  .image-container {
    max-width: 100%;
    height: auto;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.swiper-button-prev {
  left: -70px;
}

.swiper-button-next {
  right: -70px;
}